.container {
    display: flex;
    position: relative;
    justify-content: center;
    height: 97vh;
}

.toolbar {
    display: flex;
    height: 98vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 0px 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

ul li{
    display: flex;
    list-style: none;
    height: 100%;
    border-bottom: 1px solid white;
    align-items: center;
    justify-content: center;
}

ul li:last-child {
    border-bottom: 0px;
}

img {
    width: 75px;
    height: 75px;
}

.modalWrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.modal {
    height: 400px;
    width: 450px;
    display: flex;
    gap: 8px;
    position: absolute;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.active {
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    opacity: 1;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.colorPickerCanvas {
    position: relative;
    align-self: flex-start;
}

.colorPickerWrapper {
    position: relative;
    height: 300px;
    display: flex;
}

.colorPickerMarker {
    position: absolute; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    width: 8px;
    height: 8px;
}

.colorSliderWrapper {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
}

.colorSlider {
    align-self: flex-start;
}

.colorSliderMarker {
    position: absolute; 
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    width: 40px;
    height: 4px;
}